<div class="container">
    <div class="footer">
        <div class="logo-container">
            <img class="logo-img" src="assets/logo.png">
        </div>
        <div class="info-container">
            <div class="info">
                <span>Home</span>
                <span>Term of Use</span>
                <span>Legal Notices</span>
                <span>Help</span>
                <span>Manage Accounts</span>
            </div>
        </div>
        <div class="market-container">
            <div class="market">
                <div class="app-store"><img src="assets/app%20store.png"></div>
                <div class="google-play"><img src="assets/google-play.png"></div>
            </div>
        </div>
        <div class="rights">
            <p>Copyright 2023 Dreadful Tomato Streaming All Rights Reserved</p>
        </div>
    </div>
</div>
